#filter::before,
#filter::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100vw;
  height: 100vh;
  z-index: -1;
  mix-blend-mode: darken;
  mix-blend-mode: difference;
  mix-blend-mode: exclusion;
  mix-blend-mode: multiply;
  z-index: 1;
}

#filter::before {
  background: url('https://img.freepik.com/free-photo/white-texture_1160-786.jpg?w=1800&t=st=1688189081~exp=1688189681~hmac=a702cb263b90b3592a297d72884a1f943e817fa6d35c00722e1a689ace61b074');
  background-size: cover;
  opacity: 0.6;
  /* filter: url(#noiseFilter); */
  z-index: 10;
  /* filter: hue-rotate(90deg); */
}

/*
#filter::after {
background: url("https://assets.codepen.io/17119/wolves.svg") center center no-repeat;
background-size: cover;
filter: contrast(100%) brightness(150%);
} */